.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 56px);
}

.form {
  background-color: white;
  border-radius: 16px;
  padding: 24px;
  display: flex;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  min-width: 50%;
}

.formContent {
  width: 100%;
  margin-top: 24px;
}
